ENV=<SET_PRODUCTION_ENVIRONMENT>
ENV_FILE=<SET_LOCAL_PRODUCTION_ENV_FILE>
COMPOSE_PROJECT_NAME=<SET_PRODUCTION_COMPOSE_PROJECT_NAME>
DB_USER=<SET_PRODUCTION_DATABASE_USER>
DB_PASSWORD=<SET_PRODUCTION_DATABASE_PASSWORD>
DB_NAME=<SET_PRODUCTION_DATABASE_NAME>
ADMIN_PASSWD=<SET_PRODUCTION_ODOO_MASTER_PASSWORD>
JWT_SECRET=<SET_LONG_RANDOM_PRODUCTION_JWT_SECRET>
SCENE_CHANNEL=<SET_PRODUCTION_SCENE_CHANNEL>
SCENE_USE_PINNED=<SET_TRUE_OR_FALSE>
SCENE_ROLLBACK=<SET_TRUE_OR_FALSE>
ODOO_DBFILTER=<SET_ANCHORED_PRODUCTION_DATABASE_FILTER>
DB_DATA=<SET_PRODUCTION_DATABASE_VOLUME>
REDIS_DATA=<SET_PRODUCTION_REDIS_VOLUME>
ODOO_DATA=<SET_PRODUCTION_ODOO_VOLUME>
NGINX_PORT=<SET_PRODUCTION_NGINX_PORT>
ODOO_PORT=<SET_PRODUCTION_ODOO_PORT>
ODOO_IMAGE=<SET_DIGEST_PINNED_PRODUCTION_IMAGE>
