ENV=<SET_AUDIT_ENVIRONMENT>
ENV_FILE=<SET_LOCAL_AUDIT_ENV_FILE>
COMPOSE_PROJECT_NAME=<SET_AUDIT_COMPOSE_PROJECT_NAME>
DB_USER=<SET_AUDIT_DATABASE_USER>
DB_PASSWORD=<SET_AUDIT_DATABASE_PASSWORD>
DB_NAME=<SET_AUDIT_DATABASE_NAME>
ADMIN_PASSWD=<SET_AUDIT_ODOO_MASTER_PASSWORD>
JWT_SECRET=<SET_LONG_RANDOM_AUDIT_JWT_SECRET>
SC_BOOTSTRAP_SECRET=<SET_AUDIT_BOOTSTRAP_SECRET>
SC_BOOTSTRAP_LOGIN=<SET_AUDIT_BOOTSTRAP_LOGIN>
SCENE_CHANNEL=<SET_AUDIT_SCENE_CHANNEL>
SCENE_USE_PINNED=<SET_TRUE_OR_FALSE>
SCENE_ROLLBACK=<SET_TRUE_OR_FALSE>
ODOO_DBFILTER=<SET_ANCHORED_AUDIT_DATABASE_FILTER>
DB_DATA=<SET_AUDIT_DATABASE_VOLUME>
REDIS_DATA=<SET_AUDIT_REDIS_VOLUME>
ODOO_DATA=<SET_AUDIT_ODOO_VOLUME>
NGINX_PORT=<SET_AUDIT_NGINX_PORT>
ODOO_PORT=<SET_AUDIT_ODOO_PORT>
