ENV=<SET_DEV_ENVIRONMENT>
ENV_FILE=<SET_LOCAL_DEV_ENV_FILE>
COMPOSE_PROJECT_NAME=<SET_DEV_COMPOSE_PROJECT_NAME>
DB_USER=<SET_DEV_DATABASE_USER>
DB_PASSWORD=<SET_DEV_DATABASE_PASSWORD>
DB_NAME=<SET_DEV_DATABASE_NAME>
ADMIN_PASSWD=<SET_DEV_ODOO_MASTER_PASSWORD>
JWT_SECRET=<SET_LONG_RANDOM_DEV_JWT_SECRET>
SC_BOOTSTRAP_SECRET=<SET_DEV_BOOTSTRAP_SECRET>
SC_BOOTSTRAP_LOGIN=<SET_DEV_BOOTSTRAP_LOGIN>
SCENE_CHANNEL=<SET_DEV_SCENE_CHANNEL>
SCENE_USE_PINNED=<SET_TRUE_OR_FALSE>
SCENE_ROLLBACK=<SET_TRUE_OR_FALSE>
ODOO_DBFILTER=<SET_ANCHORED_DEV_DATABASE_FILTER>
DB_DATA=<SET_DEV_DATABASE_VOLUME>
REDIS_DATA=<SET_DEV_REDIS_VOLUME>
ODOO_DATA=<SET_DEV_ODOO_VOLUME>
NGINX_PORT=<SET_DEV_NGINX_PORT>
ODOO_PORT=<SET_DEV_ODOO_PORT>
VITE_PLATFORM_ADMIN_DB=<SET_DEV_PLATFORM_ADMIN_DATABASE>
FRONTEND_DIST_DIR=<SET_DEV_FRONTEND_DIST_DIRECTORY>
