ENV=<SET_TEST_ENVIRONMENT>
ENV_FILE=<SET_LOCAL_TEST_ENV_FILE>
COMPOSE_PROJECT_NAME=<SET_TEST_COMPOSE_PROJECT_NAME>
DB_USER=<SET_TEST_DATABASE_USER>
DB_PASSWORD=<SET_TEST_DATABASE_PASSWORD>
DB_NAME=<SET_TEST_DATABASE_NAME>
ADMIN_PASSWD=<SET_TEST_ODOO_MASTER_PASSWORD>
JWT_SECRET=<SET_LONG_RANDOM_TEST_JWT_SECRET>
SCENE_CHANNEL=<SET_TEST_SCENE_CHANNEL>
SCENE_USE_PINNED=<SET_TRUE_OR_FALSE>
SCENE_ROLLBACK=<SET_TRUE_OR_FALSE>
ODOO_DBFILTER=<SET_ANCHORED_TEST_DATABASE_FILTER>
DB_DATA=<SET_TEST_DATABASE_VOLUME>
REDIS_DATA=<SET_TEST_REDIS_VOLUME>
ODOO_DATA=<SET_TEST_ODOO_VOLUME>
NGINX_PORT=<SET_TEST_NGINX_PORT>
ODOO_PORT=<SET_TEST_ODOO_PORT>
