VITE_API_BASE_URL=<SET_DEVELOPMENT_API_BASE_URL>
VITE_APP_ENV=<SET_DEVELOPMENT_FRONTEND_ENVIRONMENT>
VITE_TENANT=<SET_DEVELOPMENT_PUBLIC_TENANT_IDENTIFIER>
VITE_FEATURE_FLAGS=<SET_DEVELOPMENT_PUBLIC_FEATURE_FLAGS>
VITE_ODOO_DB=<SET_DEVELOPMENT_PUBLIC_ODOO_DATABASE>
VITE_PLATFORM_ADMIN_DB=<SET_DEVELOPMENT_PLATFORM_ADMIN_DATABASE>
VITE_DELIVERY_MODE=<SET_DEVELOPMENT_DELIVERY_MODE>
