VITE_API_BASE_URL=<SET_PRODUCTION_API_BASE_URL>
VITE_APP_ENV=<SET_PRODUCTION_FRONTEND_ENVIRONMENT>
VITE_TENANT=<SET_PRODUCTION_PUBLIC_TENANT_IDENTIFIER>
VITE_FEATURE_FLAGS=<SET_PRODUCTION_PUBLIC_FEATURE_FLAGS>
VITE_ODOO_DB=<SET_PRODUCTION_PUBLIC_ODOO_DATABASE>
VITE_ODOO_DB_LOCKED=<SET_TRUE_OR_FALSE>
VITE_PLATFORM_ADMIN_DB=<SET_PRODUCTION_PLATFORM_ADMIN_DATABASE>
VITE_DELIVERY_MODE=<SET_PRODUCTION_DELIVERY_MODE>
